# FastAPI
fastapi
uvicorn[standard]
pydantic

# OpenVoice Core Dependencies
torch
soundfile
unidecode
whisper-timestamped

# OpenVoice TTS Model - Installed directly from GitHub
-e git+https://github.com/myshell-ai/MeloTTS.git#egg=melotts

# For SE Extractor
librosa
faster-whisper
pydub
wavmark
numpy
eng_to_ipa
inflect
nltk

# Other
python-magic-bin # For Windows compatibility 